neonize==0.3.14.post0
openai==1.59.5
python-dotenv==1.0.1
requests==2.32.3
fastapi==0.115.6
uvicorn==0.34.0
openpyxl==3.1.5
python-multipart
sib-api-v3-sdk==7.6.0
psycopg2-binary==2.9.10
segno
pandas
matplotlib

